body {
  background-color: #1c1c1c;
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

.movie-list-item-overlay {
  opacity: 0;
}

.movie-list-item-overlay:hover {
  opacity: 1;
}

.search-field::placeholder {
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.discover-page-container {
  flex-direction: row;
}

@media (max-width: 768px) {
  .discover-page-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: none;
  }
}

.navbar {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
  }
}
